services:
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image: nginx
    env_file:
      - .env
#    volumes:
#      - wordpress_data:/var/www/html
    networks:
      - inception_network
    ports:
      - "443:443"
    restart: unless-stopped

networks:
  inception_network:
    driver: bridge
